.big-text { 
    position: absolute; 
    font-size: 80px; 
    font-weight: 800; 
    color: #4b8bff40; 
    text-transform: uppercase; 
    line-height: 140px; 
    left: 8%; 
    right: 0;
    top: 0; 
    overflow: hidden; 
    z-index: 0; 
    pointer-events: none; 
    user-select: none; 
}