.leaderboard-container {
  max-width: 900px;
  margin: 0 ;
}

.leaderboard-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 700;
}

.leaderboard-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.information-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #007bff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.information-btn:hover {
  background-color: #005fcc;
}

.info-box {
  margin-right: 10px; 
  padding: 10px 15px;
  background-color: #f0f4ff;
  border: 1px solid #007bff;
  border-radius: 8px;
  max-width: 300px;
}




.leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*PODIUM SECTION*/
.podium {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-left: 14%;
  margin-bottom: 35px;
  align-items: flex-end;
}

.podium-card {
  width: 160px;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.podium-card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.podium-card p {
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
}

.podium-card span {
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #4b4b4b;
}

.podium-card.first {
  background: #ffd900;
  height: 160px;
}

.podium-card.second {
  background: #d6d6d6;
  height: 135px;
}

.podium-card.third {
  background: #cd7f32; 
  height: 120px;
}

/*TABLE */
.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  margin-left: 10%;
}

.leaderboard-table th,
.leaderboard-table td {
  border-bottom: 1px solid #e1e1e1;
  padding: 14px 10px;
  text-align: left;
}

.leaderboard-table tr:hover {
  background: #f5f8ff;
}

.leaderboard-table th {
  font-weight: 700;
}

.leaderboard-table td {
  font-weight: 500;
}
