.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f4f7;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.big-text { 
    position: absolute; 
    font-size: 80px; 
    font-weight: 800; 
    color: #4b8bff40; 
    text-transform: uppercase; 
    line-height: 140px; 
    left: 8%; 
    right: 0;
    top: 0; 
    overflow: hidden; 
    z-index: 0; 
    pointer-events: none; 
    user-select: none; 
}

.reset-box {
  background: #fff;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  z-index: 1;
}

.reset-box h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.reset-box input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  box-sizing: border-box;
}

.reset-box button {
  width: 100%;
  padding: 12px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  transition: 0.3s ease;
}

.reset-box button:hover {
  background-color: #0052cc;
}

.reset-box p {
  margin-top: 14px;
  color: red;
  font-size: 14px;
}

.reset-box .success-message {
  color: green;
}