.auth-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f9faff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.big-text { 
    position: absolute; 
    font-size: 80px; 
    font-weight: 800; 
    color: #4b8bff40; 
    text-transform: uppercase; 
    line-height: 140px; 
    left: 8%; 
    right: 0;
    top: 0; 
    overflow: hidden; 
    z-index: 0; 
    pointer-events: none; 
    user-select: none; 
}

.auth-box {
  width: 420px;
  padding: 40px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  z-index: 5;
}

.auth-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.auth-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #d0d7ff;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

.auth-input:focus {
  border-color: #4b8bff;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #4b8bff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}

.auth-btn:hover {
  background: #3a73e6;
}

.auth-error {
  margin-top: 10px;
  color: #ff3b3b;
  font-size: 14px;
}

.auth-success {
  margin-top: 10px;
  color: #28a745;
  font-size: 14px;
}